header {
  text-align: center;
}

section {
  text-align: center;
}

section .map {
  display: inline-block;
  position: relative;
}

section .map img {
  max-width: 80vw;
  width: 800px;
  margin: auto;
  border: 1px solid black;
}

.map1 {
  max-width: 80vw;
  width: 800px;
}
.pointer {
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 100%;
  color: transparent;
  border: 3px solid red;
  animation-name: example;
  animation-duration: 600ms;
  animation-iteration-count: 10;
}

@keyframes example {
  0%   {border: 18px solid yellow}
  50% {border: 3px solid blue}
}